<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodvotebox.mapper.FvbAddedRestaurantMapper">
    <insert id="addRestaurant" parameterType="com.foodvotebox.pojo.FvbRestaurant">
        INSERT ignore INTO fvb_restaurant (restaurantname, city, address, phone, price, rating, yelpurl, imgurl, updated)
		VALUES (#{restaurantName}, #{city}, #{address}, #{phone}, #{price}, #{rating}, #{yelpUrl}, #{imgUrl}, now())
    </insert>

    <insert id="addRestaurantAsFavourite">
        INSERT ignore INTO fvb_user_added_restaurants(userId, restaurantId)
        VALUES (#{userId}, #{restaurantId})
    </insert>

    <delete id="removeRestaurantFromFavourite">
        DELETE FROM fvb_user_added_restaurants
        WHERE userid = #{userId} AND restaurantid = #{restaurantId}
    </delete>

    <delete id="deleteRestaurant" parameterType="java.lang.Long">
        DELETE FROM fvb_restaurant
        WHERE restaurantid = #{restaurantId}
    </delete>

    <select id="queryRestaurant" parameterType="Long">
        SELECT
          restaurantid,
          restaurantname,
          city,
          address,
          phone,
          rating,
          yelpurl,
          imgurl,
          updated
        FROM
          fvb_restaurant
        WHERE
          restaurantid = #{retaurantId};
    </select>

    <select id="queryAddedRestaurant" resultType="com.foodvotebox.pojo.FvbRestaurant">
        SELECT b.restaurantid, b.restaurantname, b.city, b.address, b.phone, b.price, b.rating, b.yelpurl, b.imgurl, b.updated
        FROM fvb_user_added_restaurants AS a, fvb_restaurant AS b
        WHERE userid = #{userId} AND a.restaurantid = b.restaurantid AND a.restaurantid = #{restaurantId};
    </select>

    <select id="queryAddedRestaurantsByUserId" parameterType="java.lang.Long" resultType="com.foodvotebox.pojo.FvbRestaurant">
        SELECT b.restaurantid, b.restaurantname, b.city, b.address, b.phone, b.price, b.rating, b.yelpurl, b.imgurl, b.updated
        FROM fvb_user_added_restaurants AS a, fvb_restaurant AS b
        WHERE userid = #{userId} AND a.restaurantid = b.restaurantid
    </select>

    <select id="queryRestaurantsByNameCityAddress" resultType="com.foodvotebox.pojo.FvbRestaurant">
        SELECT
          restaurantid,
          restaurantname,
          city,
          address,
          phone,
          rating,
          yelpurl,
          imgurl,
          updated
        FROM
          fvb_restaurant
        WHERE
          restaurantname = #{restaurantName} AND
          city = #{city} AND
          address = #{address}
    </select>

    <select id="queryRestaurantsByName" parameterType="String" resultType="com.foodvotebox.pojo.FvbRestaurant">
        SELECT
          restaurantid,
          restaurantname,
          city,
          address,
          phone,
          rating,
          yelpurl,
          imgurl,
          updated
        FROM
          fvb_restaurant
        WHERE
          restaurantname = #{restaurantName}
    </select>
</mapper>