<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodvotebox.mapper.FvbEventMemberMapper">

	<insert id="insertMember">
		<!-- ignore 主键冲突，报错 -->
		INSERT INTO fvb_eventMember (eventid, memberid)
		VALUES (#{eventId}, #{memberId})
	</insert>

	<select id="findEventMember" resultType="com.foodvotebox.pojo.FvbEventMember" parameterType="Long">
		SELECT
		eventid,
		memberid,
		voted
		FROM
		fvb_eventMember
		WHERE
		eventid = #{eventId} AND
		memberid = #{memberId}
	</select>

	<select id="findAllMembers" resultType="com.foodvotebox.pojo.DBEventMemberReturnType" parameterType="Long">
		SELECT
		EM.eventid,
		EM.memberid,
		EM.voted,
		U.username
		FROM
		fvb_user AS U,
		fvb_eventMember AS EM
		WHERE
 		EM.eventid = #{eventId} AND
		EM.memberid = U.userid
	</select>
</mapper>