<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodvotebox.mapper.FvbRestaurantMapper">

	<!--<select id="findRestaurantByAddr" resultType="com.foodvotebox.pojo.FvbRestaurant" parameterType="String">-->
		<!--SELECT-->
		<!--restaurantid,-->
		<!--restaurantname,-->
		<!--city,-->
		<!--address,-->
		<!--phone,-->
		<!--rating,-->
		<!--yelpurl,-->
		<!--imgurl,-->
		<!--created-->
		<!--FROM-->
		<!--fvb_restaurant-->
		<!--WHERE-->
		<!--restaurantname = #{restaurantName} AND-->
		<!--city = #{city} AND-->
		<!--address = #{address}-->
	<!--</select>-->
</mapper>